<% layout('layout') -%>

  <div class="container-fluid bg-light-gray">
    <div class="container pt-5">
      <div class="row">
        <h3>SAMSUNG</h3>
      </div>
      <div class="underline"></div>
    </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/27.jpg" class="card-img-top">
          <div class="card-body">
            <h5>WIND FREE WALL SPLIT</h5>
            <h5>$500</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <img src="/images/28.jpg" class="card-img-top">
          <div class="card-body">
            <h5>1.5 TON INVERTER AC</h5>
            <h5>$600</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/29.jpg" class="card-img-top">
          <div class="card-body">
            <h5>1 TON SPLIT AC</h5>
            <h5>$650</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/30.jpg" class="card-img-top">
          <div class="card-body">
            <h5>2 TON INVERTER AC</h5>
            <h5>$870</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



    </div>
  </div>



  <div class="container mt-5">
    <div class="row">
      <h3>LG</h3>
    </div>
  <div class="row">
    <div class="underline"></div>
  </div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/31.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>INVERTER AIR CONDITIONER</h5>
            <h6>$100</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/32.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>2 TON SPLIT AC</h5>
            <h6>$256</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>




      <div class="col-md-3">
        <div class="card">
          <img src="/images/33.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>DUAL INVERTER AC</h5>
            <h6>$300</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/34.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>115 V PORTABLE AIR CONDITIONER</h5>
            <h6>$900</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>

    </div>
  </div>



    <div class="container mt-5">
      <div class="row">
        <h3>TOSHIBA</h3>
      </div>
    <div class="row">
      <div class="underline"></div>
    </div>
    </div>

    <div class="container mt-5 pb-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="/images/35.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>INVERTER AIR CONDITIONER</h5>
              <h6>$100</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/36.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>2 TON SPLIT AC</h5>
              <h6>$256</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>




        <div class="col-md-3">
          <div class="card">
            <img src="/images/37.png" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>DUAL INVERTER AC</h5>
              <h6>$300</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/38.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>115 V PORTABLE AIR CONDITIONER</h5>
              <h6>$900</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>

      </div>
    </div>
