<% layout('layout') -%>


  <div class="container-fluid bg-light-gray">
    <div class="container pt-5">
      <div class="row">
        <h3>CANON</h3>
      </div>
      <div class="underline"></div>
    </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/63.jpg" class="card-img-top">
          <div class="card-body">
            <h5>EOS REBEL SL3 </h5>
            <h5>$500</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <img src="/images/64.jpg" class="card-img-top">
          <div class="card-body">
            <h5>EOS 90D</h5>
            <h5>$600</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/65.jpg" class="card-img-top">
          <div class="card-body">
            <h5>EOS 6D MARK 2</h5>
            <h5>$950</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/66.jpg" class="card-img-top">
          <div class="card-body">
            <h5>EOS 5D MARK 4</h5>
            <h5>$870</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



    </div>
  </div>



  <div class="container mt-5">
    <div class="row">
      <h3>NIKON</h3>
    </div>
  <div class="row">
    <div class="underline"></div>
  </div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/67.png" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>D 850</h5>
            <h6>$400</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/68.png" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>D 610</h5>
            <h6>$100</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>




      <div class="col-md-3">
        <div class="card">
          <img src="/images/69.png" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>D 200</h5>
            <h6>$300</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/70.png" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>D 3300</h5>
            <h6>$500</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>

    </div>
  </div>



    <div class="container mt-5">
      <div class="row">
        <h3>CASIO</h3>
      </div>
    <div class="row">
      <div class="underline"></div>
    </div>
    </div>

    <div class="container mt-5 pb-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="/images/71.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5> EXILIMEX S12</h5>
              <h6>$100</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/72.jpeg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>QV 10</h5>
              <h6>$256</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>




        <div class="col-md-3">
          <div class="card">
            <img src="/images/73.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>EXILIM EX Z16</h5>
              <h6>$300</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/74.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>EXILIM EX H20 G </h5>
              <h6>$900</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
