<% layout('layout') -%>


  <div class="container-fluid bg-light-gray">
    <div class="container pt-5">
      <div class="row">
        <h3>APPLE</h3>
      </div>
      <div class="underline"></div>
    </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/39.jpg" class="card-img-top">
          <div class="card-body">
            <h5>IPHONE </h5>
            <h5>$500</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <img src="/images/40.jpg" class="card-img-top">
          <div class="card-body">
            <h5>IPHONE XS</h5>
            <h5>$600</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/41.png" class="card-img-top">
          <div class="card-body">
            <h5>IPHONE 11 PRO</h5>
            <h5>$950</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/42.jpg" class="card-img-top">
          <div class="card-body">
            <h5>IPHONE 11</h5>
            <h5>$870</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



    </div>
  </div>



  <div class="container mt-5">
    <div class="row">
      <h3>SAMSUNG</h3>
    </div>
  <div class="row">
    <div class="underline"></div>
  </div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/43.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>GALAXY S7 EDGE</h5>
            <h6>$100</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/44.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>GALAXY S8</h5>
            <h6>$256</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>




      <div class="col-md-3">
        <div class="card">
          <img src="/images/45.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>GALAXY S 10</h5>
            <h6>$300</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/46.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>GALAXY S 11</h5>
            <h6>$900</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>

    </div>
  </div>



    <div class="container mt-5">
      <div class="row">
        <h3>OOPO</h3>
      </div>
    <div class="row">
      <div class="underline"></div>
    </div>
    </div>

    <div class="container mt-5 pb-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="/images/47.webp" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>F9</h5>
              <h6>$100</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/48.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>F 11 PRO</h5>
              <h6>$256</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>




        <div class="col-md-3">
          <div class="card">
            <img src="/images/49.jpeg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>A3 S</h5>
              <h6>$300</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/50.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>A5S</h5>
              <h6>$900</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
