<% layout('layout') -%>


  <div class="container-fluid bg-light-gray">
    <div class="container pt-5">
      <div class="row">
        <h3>PANASONIC</h3>
      </div>
      <div class="underline"></div>
    </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/75.jpg" class="card-img-top">
          <div class="card-body">
            <h5>NNCT 645</h5>
            <h5>$500</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <img src="/images/76.jpg" class="card-img-top">
          <div class="card-body">
            <h5>NNCT 644</h5>
            <h5>$600</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/77.jpg" class="card-img-top">
          <div class="card-body">
            <h5>NNST 266</h5>
            <h5>$950</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/78.jpg" class="card-img-top">
          <div class="card-body">
            <h5>NN SM</h5>
            <h5>$870</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



    </div>
  </div>



  <div class="container mt-5">
    <div class="row">
      <h3>SAMSUNG</h3>
    </div>
  <div class="row">
    <div class="underline"></div>
  </div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/79.webp" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>MS 23</h5>
            <h6>$400</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/80.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>MG 23</h5>
            <h6>$100</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>




      <div class="col-md-3">
        <div class="card">
          <img src="/images/81.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>MC 28</h5>
            <h6>$300</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/82.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>MC 28H</h5>
            <h6>$500</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>

    </div>
  </div>



    <div class="container mt-5">
      <div class="row">
        <h3>TOOSHIBA</h3>
      </div>
    <div class="row">
      <div class="underline"></div>
    </div>
    </div>

    <div class="container mt-5 pb-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="/images/83.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5> EM 131</h5>
              <h6>$100</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/84.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>6 SLICE STAINLESS STELL</h5>
              <h6>$256</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>




        <div class="col-md-3">
          <div class="card">
            <img src="/images/85.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>HTR 1150</h5>
              <h6>$300</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/86.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>ER GD 400</h5>
              <h6>$900</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
