<% layout('layout') -%>

  <div class="container-fluid bg-light-gray">
    <div class="container pt-5">
      <div class="row">
        <h3>LG</h3>
      </div>
      <div class="underline"></div>
    </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/87.jpg" class="card-img-top">
          <div class="card-body">
            <h5>LG FHT</h5>
            <h5>$500</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="card">
          <img src="/images/88.jpg" class="card-img-top">
          <div class="card-body">
            <h5>P 8053</h5>
            <h5>$600</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/89.jpg" class="card-img-top">
          <div class="card-body">
            <h5>WD 1024</h5>
            <h5>$950</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/90.jpg" class="card-img-top">
          <div class="card-body">
            <h5>FULLY ATOMIC TOP LOADING</h5>
            <h5>$870</h5>
            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART</button>
              </div>
        </div>
      </div>



    </div>
  </div>



  <div class="container mt-5">
    <div class="row">
      <h3>BOSCH</h3>
    </div>
  <div class="row">
    <div class="underline"></div>
  </div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="/images/91.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>WAK 24168</h5>
            <h6>$400</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/92.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>WAE 20262</h5>
            <h6>$100</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>




      <div class="col-md-3">
        <div class="card">
          <img src="/images/93.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>MODEL 2013</h5>
            <h6>$300</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="card">
          <img src="/images/94.jpg" alt="show" class="card-img-top">
          <div class="card-body">
            <h5>WAT 28401 UC</h5>
            <h6>$500</h6>
            <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
          </div>
        </div>
      </div>

    </div>
  </div>



    <div class="container mt-5">
      <div class="row">
        <h3>WHIRLPOOL</h3>
      </div>
    <div class="row">
      <div class="underline"></div>
    </div>
    </div>

    <div class="container mt-5 pb-5">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="/images/95.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>12 KG FULLY AUTOMATIC TOP LOADING</h5>
              <h6>$100</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/96.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>7.5 KG SEMI AUTOMIC TOP LOADING</h5>
              <h6>$256</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>




        <div class="col-md-3">
          <div class="card">
            <img src="/images/97.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>8.5 KG SEMI AUTOMIC TOP LOADING</h5>
              <h6>$300</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>



        <div class="col-md-3">
          <div class="card">
            <img src="/images/98.jpg" alt="show" class="card-img-top">
            <div class="card-body">
              <h5>9 KG 1200 SPIN FREESTANDING</h5>
              <h6>$900</h6>
              <button class="btn btn-danger"> <i class="fa fa-cart-plus" aria-hidden="true"></i> ADD TO CART </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
